n8n-workflows/ops-push.json
{
  "id": "ops-push-001",
  "name": "Hub → OPS Push (Products + Price + Push Log)",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "ops-push",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1111111-0001-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Reads query params from the webhook.\n// Required: customer_id\n// Optional: supplier_id, limit, product_id\n//\n// Single-product push (from product detail page):\n//   GET /webhook/ops-push?customer_id=<uuid>&product_id=<uuid>&limit=1\n//\n// Bulk push (all products for a customer/supplier):\n//   GET /webhook/ops-push?customer_id=<uuid>&supplier_id=<uuid>&limit=25\n\nconst first = $input.first().json ?? {};\nconst q = first.query ?? first.queryParameters ?? {};\n\nconst customer_id = q.customer_id ?? q.customerId;\nif (!customer_id) {\n  throw new Error('Missing required query param: customer_id');\n}\n\nconst supplier_id = q.supplier_id ?? q.supplierId ?? null;\nconst product_id = q.product_id ?? q.productId ?? null;\nconst limitRaw = q.limit ?? 25;\nconst limit = Math.max(1, Math.min(200, Number(limitRaw) || 25));\n\nconst api_base = $env.API_HUB_BASE_URL || 'http://host.docker.internal:8000';\n\n// When product_id is provided, fetch that one product directly.\n// Otherwise, fetch the full product list (bulk push).\nlet products_url;\nif (product_id) {\n  products_url = `${api_base.replace(/\\/$/, '')}/api/products/${product_id}`;\n} else {\n  const url = new URL(`${api_base.replace(/\\/$/, '')}/api/products`);\n  url.searchParams.set('limit', String(limit));\n  if (supplier_id) url.searchParams.set('supplier_id', String(supplier_id));\n  products_url = url.toString();\n}\n\nreturn [{\n  json: {\n    api_base,\n    customer_id: String(customer_id),\n    supplier_id: supplier_id ? String(supplier_id) : null,\n    product_id: product_id ? String(product_id) : null,\n    limit,\n    products_url,\n  },\n}];"
      },
      "id": "a1111111-0002-0000-0000-000000000002",
      "name": "Parse Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{$json.products_url}}",
        "options": {}
      },
      "id": "a1111111-0003-0000-0000-000000000003",
      "name": "Get Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Normalize the /api/products response into one item per product.\n\nconst ctx = $node['Parse Params'].json;\nconst items = $input.all();\n\nconst list = items.flatMap((i) => {\n  const j = i.json;\n  if (Array.isArray(j)) return j;\n  if (j && Array.isArray(j.data)) return j.data;\n  if (j && Array.isArray(j.body)) return j.body;\n  return j && typeof j === 'object' ? [j] : [];\n});\n\nreturn list\n  .filter((p) => p && (p.id || p.product_id))\n  .map((p) => ({\n    json: {\n      api_base: ctx.api_base,\n      customer_id: ctx.customer_id,\n      product_id: String(p.id ?? p.product_id),\n      product_name: p.product_name ?? p.name ?? p.products_title ?? 'Unnamed',\n      supplier_name: p.supplier_name ?? null,\n    },\n  }));"
      },
      "id": "a1111111-0004-0000-0000-000000000004",
      "name": "Explode Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "={{$json.api_base}}/api/push/{{$json.customer_id}}/product/{{$json.product_id}}/payload",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-Ingest-Secret",
              "value": "={{$env.INGEST_SHARED_SECRET}}"
            }
          ]
        }
      },
      "id": "a1111111-0005-0000-0000-000000000005",
      "name": "Get Push Payload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "id": "a1111111-0006-0000-0000-000000000006",
      "name": "Merge IDs + Payload",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Builds JSON-string inputs for OPS setProductCategory + setProduct + setProductPrice.\n//\n// setProductCategory_input: category is created first; the returned category_id is\n// injected into setProduct_input by the downstream 'Attach Category ID' node.\n\nconst items = $input.all();\n\nfunction minNumber(values) {\n  const nums = values.filter((v) => typeof v === 'number' && Number.isFinite(v));\n  if (!nums.length) return null;\n  return Math.min(...nums);\n}\n\nreturn items.map((item) => {\n  const merged = item.json ?? {};\n  const payload = merged.product ? merged : (merged.payload ?? merged);\n\n  const productMeta = payload.product ?? {};\n  const variants = Array.isArray(payload.variants) ? payload.variants : [];\n\n  const minFinal = minNumber(variants.map((v) => v.final_price));\n  const minBase = minNumber(variants.map((v) => v.base_price));\n\n  const setProductCategoryInput = {\n    category_id: 0,\n    category_name: productMeta.category_name ?? productMeta.category ?? 'Uncategorized',\n    parent_id: 0,\n    visible: 1,\n  };\n\n  const setProductInput = {\n    category_id: 0,\n    visible: 1,\n    products_title: productMeta.name ?? merged.product_name ?? 'Unnamed',\n    products_internal_title: productMeta.supplier_sku ?? merged.product_id,\n  };\n\n  const setProductPriceTemplate = {\n    product_price_id: 0,\n    products_id: 0,\n    qty: 1,\n    qty_to: 999999,\n    price: minFinal ?? 0,\n    vendor_price: minBase ?? 0,\n    size_id: 0,\n    visible: '1',\n  };\n\n  return {\n    json: {\n      api_base: merged.api_base,\n      customer_id: merged.customer_id,\n      product_id: merged.product_id,\n      product_name: merged.product_name,\n      payload,\n      setProductCategory_input: JSON.stringify(setProductCategoryInput, null, 2),\n      setProduct_input: JSON.stringify(setProductInput, null, 2),\n      setProductPrice_template: setProductPriceTemplate,\n    },\n  };\n});"
      },
      "id": "a1111111-0007-0000-0000-000000000007",
      "name": "Build OPS Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "resource": "mutation",
        "operation": "setProductCategory",
        "setProductCategory_input": "={{$json.setProductCategory_input}}"
      },
      "id": "a1111111-0013-0000-0000-000000000013",
      "name": "OPS: Set Product Category",
      "type": "n8n-nodes-onprintshop.onPrintShop",
      "typeVersion": 1,
      "position": [1780, 300],
      "onError": "continueErrorOutput",
      "credentials": {
        "onPrintShopApi": {
          "id": "",
          "name": "OPS Storefront"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merges the category_id returned by setProductCategory into the setProduct_input.\n// Falls back to category_id: 0 if OPS did not return one.\n\nconst categoryResult = $input.first().json ?? {};\nconst ctx = $node['Build OPS Inputs'].json;\n\nconst category_id = Number(categoryResult.category_id ?? 0);\n\nconst productInput = JSON.parse(ctx.setProduct_input);\nproductInput.category_id = category_id;\n\nreturn [{\n  json: {\n    api_base: ctx.api_base,\n    customer_id: ctx.customer_id,\n    product_id: ctx.product_id,\n    product_name: ctx.product_name,\n    payload: ctx.payload,\n    setProduct_input: JSON.stringify(productInput, null, 2),\n    setProductPrice_template: ctx.setProductPrice_template,\n  },\n}];"
      },
      "id": "a1111111-0014-0000-0000-000000000014",
      "name": "Attach Category ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "resource": "mutation",
        "operation": "setProduct",
        "setProduct_input": "={{$json.setProduct_input}}"
      },
      "id": "a1111111-0008-0000-0000-000000000008",
      "name": "OPS: Set Product",
      "type": "n8n-nodes-onprintshop.onPrintShop",
      "typeVersion": 1,
      "position": [2220, 300],
      "onError": "continueErrorOutput",
      "credentials": {
        "onPrintShopApi": {
          "id": "",
          "name": "OPS Storefront"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Builds one setProductSize_input item per variant so OPS: Set Product Size\n// loops over all size/colour combinations for this product.\n// Falls back to a single 'OS' (One Size) entry if the payload has no variants.\n\nconst setProductResult = $input.first().json ?? {};\nconst ctx = $node['Attach Category ID'].json;\n\nconst products_id = setProductResult.products_id ?? setProductResult.productsId;\nif (!products_id) {\n  throw new Error(`setProduct did not return products_id. Got: ${JSON.stringify(setProductResult)}`);\n}\n\nconst payload = ctx.payload ?? {};\nconst variants = Array.isArray(payload.variants) ? payload.variants : [];\n\nconst sizeItems = variants.length\n  ? variants.map((v) => ({\n      size_name: v.size ?? v.size_name ?? 'OS',\n      color_name: v.color ?? v.color_name ?? '',\n      products_sku: v.sku ?? v.products_sku ?? ctx.product_id,\n    }))\n  : [{ size_name: 'OS', color_name: '', products_sku: ctx.product_id }];\n\nreturn sizeItems.map((s) => ({\n  json: {\n    api_base: ctx.api_base,\n    customer_id: ctx.customer_id,\n    product_id: ctx.product_id,\n    ops_product_id: String(products_id),\n    setProductSize_input: JSON.stringify({\n      product_size_id: 0,\n      products_id: Number(products_id),\n      size_name: s.size_name,\n      color_name: s.color_name,\n      products_sku: s.products_sku,\n      visible: 1,\n    }, null, 2),\n  },\n}));"
      },
      "id": "a1111111-0015-0000-0000-000000000015",
      "name": "Build Size Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 520]
    },
    {
      "parameters": {
        "resource": "mutation",
        "operation": "setProductSize",
        "setProductSize_input": "={{$json.setProductSize_input}}"
      },
      "id": "a1111111-0016-0000-0000-000000000016",
      "name": "OPS: Set Product Size",
      "type": "n8n-nodes-onprintshop.onPrintShop",
      "typeVersion": 1,
      "position": [2440, 520],
      "onError": "continueErrorOutput",
      "credentials": {
        "onPrintShopApi": {
          "id": "",
          "name": "OPS Storefront"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combines the setProduct result with the pre-built price template.\n// Reads context from Attach Category ID since OPS nodes only return GraphQL results.\n\nconst setProduct = $input.first().json ?? {};\nconst ctx = $node['Attach Category ID'].json;\n\nconst products_id = setProduct.products_id ?? setProduct.productsId;\nif (!products_id) {\n  throw new Error(`setProduct did not return products_id. Got: ${JSON.stringify(setProduct)}`);\n}\n\nconst price = { ...(ctx.setProductPrice_template ?? {}) };\nprice.products_id = Number(products_id);\n\nreturn [{\n  json: {\n    api_base: ctx.api_base,\n    customer_id: ctx.customer_id,\n    product_id: ctx.product_id,\n    ops_product_id: String(products_id),\n    setProductPrice_input: JSON.stringify(price, null, 2),\n  },\n}];"
      },
      "id": "a1111111-0009-0000-0000-000000000009",
      "name": "Build Price Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "resource": "mutation",
        "operation": "setProductPrice",
        "setProductPrice_input": "={{$json.setProductPrice_input}}"
      },
      "id": "a1111111-0010-0000-0000-000000000010",
      "name": "OPS: Set Product Price",
      "type": "n8n-nodes-onprintshop.onPrintShop",
      "typeVersion": 1,
      "position": [2660, 300],
      "onError": "continueErrorOutput",
      "credentials": {
        "onPrintShopApi": {
          "id": "",
          "name": "OPS Storefront"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$node['Build Price Input'].json.api_base}}/api/push-log",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"product_id\": \"{{$node['Build Price Input'].json.product_id}}\",\n  \"customer_id\": \"{{$node['Build Price Input'].json.customer_id}}\",\n  \"ops_product_id\": \"{{$node['Build Price Input'].json.ops_product_id}}\",\n  \"status\": \"pushed\",\n  \"error\": null\n}"
      },
      "id": "a1111111-0011-0000-0000-000000000011",
      "name": "POST Push Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "a1111111-0012-0000-0000-000000000012",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3100, 300]
    },
    {
      "parameters": {
        "jsCode": "// Catches errors from any OPS node (Set Product Category, Set Product,\n// Set Product Size, Set Product Price) and formats them for the error push log.\n\nconst err = $input.first().json ?? {};\n\nreturn [{\n  json: {\n    api_base: err.api_base ?? $node['Build OPS Inputs']?.json?.api_base ?? '',\n    customer_id: err.customer_id ?? $node['Build OPS Inputs']?.json?.customer_id ?? '',\n    product_id: err.product_id ?? $node['Build OPS Inputs']?.json?.product_id ?? '',\n    ops_product_id: err.ops_product_id ?? null,\n    error_message: err.error?.message ?? err.message ?? JSON.stringify(err).substring(0, 500),\n  },\n}];"
      },
      "id": "a1111111-0018-0000-0000-000000000018",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 740]
    },
    {
      "parameters": {
        "url": "={{$json.api_base}}/api/push-log",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"product_id\": \"{{$json.product_id}}\",\n  \"customer_id\": \"{{$json.customer_id}}\",\n  \"ops_product_id\": {{$json.ops_product_id ? `\"${$json.ops_product_id}\"` : 'null'}},\n  \"status\": \"failed\",\n  \"error\": \"{{$json.error_message}}\"\n}"
      },
      "id": "a1111111-0019-0000-0000-000000000019",
      "name": "POST Push Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 740]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://host.docker.internal:8000/api/push/{{ $('Parse Params').item.json.customer_id }}/product/{{ $('Parse Params').item.json.product_id }}/ops-options",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Ingest-Secret", "value": "={{ $env.INGEST_SHARED_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "a1111111-0020-0000-0000-000000000020",
      "name": "Get /ops-options",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 460]
    },
    {
      "parameters": {
        "jsCode": "// STUB: OPS beta mutations (setAdditionalOption, setAdditionalOptionAttributes,\n// setProductsAttributePrice) are not yet shipped.\n// When they ship, replace this Code node with:\n//   1. Split In Batches over options\n//   2. OPS: setAdditionalOption (per option) → captures target_ops_option_id\n//   3. Split In Batches over attributes\n//   4. OPS: setAdditionalOptionAttributes → captures target_ops_attribute_id\n//   5. OPS: setProductsAttributePrice → applies price\n// For now: annotate each attribute with null target IDs and pass through.\nconst options = $input.all().map(i => i.json);\nconsole.log('[STUB] ops-push options payload:', JSON.stringify(options));\nreturn options.map(opt => ({\n  json: {\n    ...opt,\n    _stub: true,\n    target_ops_option_id: null,\n    attributes: (opt.attributes || []).map(a => ({\n      ...a,\n      target_ops_attribute_id: null,\n    })),\n  }\n}));"
      },
      "id": "a1111111-0021-0000-0000-000000000021",
      "name": "Stub Apply Options",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 460]
    },
    {
      "parameters": {
        "jsCode": "// Build push_mappings payload. Requires:\n//  - upstream OPS: Set Product output has products_id\n//  - Parse Params has product_id, customer_id\n//  - Get Push Payload has product.supplier_sku and customer.ops_base_url\nconst params = $('Parse Params').item.json;\nconst payload = $('Get Push Payload').item.json;\nconst setProd = $('OPS: Set Product').item.json;\nconst opsOpts = $input.all().map(i => i.json);\n\nconst flatOptions = [];\nfor (const opt of opsOpts) {\n  for (const a of (opt.attributes || [])) {\n    flatOptions.push({\n      source_master_option_id: opt.source_master_option_id,\n      source_master_attribute_id: a.source_master_attribute_id,\n      source_option_key: opt.option_key,\n      source_attribute_key: a.source_attribute_key || a.title,\n      target_ops_option_id: opt.target_ops_option_id,\n      target_ops_attribute_id: a.target_ops_attribute_id,\n      title: a.title,\n      price: a.price,\n      sort_order: a.sort_order,\n    });\n  }\n}\n\nreturn [{\n  json: {\n    source_system: payload.product?.source_system || 'sanmar',\n    source_product_id: params.product_id,\n    source_supplier_sku: payload.product?.supplier_sku || null,\n    customer_id: params.customer_id,\n    target_ops_base_url: payload.customer?.ops_base_url || '',\n    target_ops_product_id: setProd.products_id,\n    options: flatOptions,\n  }\n}];"
      },
      "id": "a1111111-0022-0000-0000-000000000022",
      "name": "Build Push Mapping",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3320, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/push-mappings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Ingest-Secret", "value": "={{ $env.INGEST_SHARED_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "a1111111-0023-0000-0000-000000000023",
      "name": "POST /push-mappings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3540, 460]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{"node": "Parse Params", "type": "main", "index": 0}]
      ]
    },
    "Parse Params": {
      "main": [
        [{"node": "Get Products", "type": "main", "index": 0}]
      ]
    },
    "Get Products": {
      "main": [
        [{"node": "Explode Products", "type": "main", "index": 0}]
      ]
    },
    "Explode Products": {
      "main": [
        [
          {"node": "Get Push Payload", "type": "main", "index": 0},
          {"node": "Merge IDs + Payload", "type": "main", "index": 0}
        ]
      ]
    },
    "Get Push Payload": {
      "main": [
        [{"node": "Merge IDs + Payload", "type": "main", "index": 1}]
      ]
    },
    "Merge IDs + Payload": {
      "main": [
        [{"node": "Build OPS Inputs", "type": "main", "index": 0}]
      ]
    },
    "Build OPS Inputs": {
      "main": [
        [{"node": "OPS: Set Product Category", "type": "main", "index": 0}]
      ]
    },
    "OPS: Set Product Category": {
      "main": [
        [{"node": "Attach Category ID", "type": "main", "index": 0}],
        [{"node": "Error Handler", "type": "main", "index": 0}]
      ]
    },
    "Attach Category ID": {
      "main": [
        [{"node": "OPS: Set Product", "type": "main", "index": 0}]
      ]
    },
    "OPS: Set Product": {
      "main": [
        [
          {"node": "Build Price Input", "type": "main", "index": 0},
          {"node": "Build Size Inputs", "type": "main", "index": 0}
        ],
        [{"node": "Error Handler", "type": "main", "index": 0}]
      ]
    },
    "Build Size Inputs": {
      "main": [
        [{"node": "OPS: Set Product Size", "type": "main", "index": 0}]
      ]
    },
    "OPS: Set Product Size": {
      "main": [
        [],
        [{"node": "Error Handler", "type": "main", "index": 0}]
      ]
    },
    "Build Price Input": {
      "main": [
        [{"node": "OPS: Set Product Price", "type": "main", "index": 0}]
      ]
    },
    "OPS: Set Product Price": {
      "main": [
        [{"node": "Get /ops-options", "type": "main", "index": 0}],
        [{"node": "Error Handler", "type": "main", "index": 0}]
      ]
    },
    "Get /ops-options": {
      "main": [
        [{"node": "Stub Apply Options", "type": "main", "index": 0}]
      ]
    },
    "Stub Apply Options": {
      "main": [
        [{"node": "Build Push Mapping", "type": "main", "index": 0}]
      ]
    },
    "Build Push Mapping": {
      "main": [
        [{"node": "POST /push-mappings", "type": "main", "index": 0}]
      ]
    },
    "POST /push-mappings": {
      "main": [
        [{"node": "POST Push Log", "type": "main", "index": 0}]
      ]
    },
    "POST Push Log": {
      "main": [
        [{"node": "Respond to Webhook", "type": "main", "index": 0}]
      ]
    },
    "Error Handler": {
      "main": [
        [{"node": "POST Push Log Error", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "ops-push-v2",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
